/*estilo geral*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-image: url(../images/image.png); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área do body */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

h1{
    font-size: 2.5em;
    padding-top: 50px;
    font-family:Josefin Sans;
    font-weight: bold;
    color: #0a1331;
    text-shadow: 4px 4px 5px #2d2227;
}

/*container principal*/
#quiz-container {
    font-size: 1.4em;
    font-family:Josefin Sans;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: auto;
    max-width: 600px;
    margin: auto;
    padding: 5px;
}

/*perguntas e botões*/

#question {
    font-size: 0.8em;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    font-size: 0.6em;
    background-color: #865f72;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a93ecd;
}

/* Feedback */
#feedback {
    margin-top: 20px;
    font-size: 15px;
    color: rgb(251, 7, 19);
}

/* Nome do jogador e fase */
#player-info {
    margin-bottom: 20px;
}

#quiz-phase {
    font-size: 15px;
    color: #7e7735;
    font-weight: bold;
}

/* Botão de reinício */
#restart-btn {
    padding: 10px 20px;
    font-size: 15px;
    background-color: #0707f7;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #35ade5;
}
